<div>
    <h1>Productos real time</h1>
    <input type="text" id="mensaje">
    <a href="/api/products">Home</a>
    <div id="productos"></div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>